{% extends 'layout/basic.html' %}

{% block content %}

    <table class="table">
      <thead>
      <tr>
          <th scope="col">Код товара</th>
          <th scope="col">Категория</th>
          <th scope="col">Производитель</th>
          <th scope="col">Количество</th>
          <th scope="col">Цена</th>
        </tr>
      </thead>

      <tbody>
      {% for product in products %}

        <tr>
          <th scope="row"><a href="{% url 'product_detail' product.code %}">{{ product.code }}</a></th>
          <td>{{ product.category }}</td>
          <td>{{ product.manufacturer }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price }}</td>
        </tr>

      {% endfor %}
      </tbody>
    </table>

{% endblock %}